<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dtID" value="0"/>
		<add key="dtName" value="DEMO_KARUNIA_PANGAN_SEJAHTERA"/>
		<add key="erpappnamepath" value="C:\Program Files (x86)\CPSSoft\ACCURATE4 Enterprise\Accurate.exe"/>
		<add key="DBaddresspath" value="C:\Program Files (x86)\CPSSoft\ACCURATE4 Enterprise\Sample\Sample.GDB"/>
		<add key="appfolder" value="AccurateAutomation"/>
		<add key="uploadfolder" value="upload"/>
		<add key="sharingfolder" value="sharing"/>
		<add key="screenshotfolder" value ="log"/>
		<add key="loginId" value="kevin"/>
		<add key="password" value="123"/>
		<add key="DBaliasflag" value="Y"/>
		<add key="DBaliasname" value="KPN"/>
		<add key="issecurehttp" value="Y"/>
		<add key="uploadtosandbox" value="Y"/>
		<add key="isconsolelogenable" value="Y"/>
		<add key="isacctrptincluded" value="N"/>
	</appSettings>
</configuration>